.maindiv {
    width: 100%;
    height: 400px;
    background-color: #858584;
    border-radius: 25px;
    margin-top: 15px;
    text-align: center;
    padding: 20px;
}




@media only screen and (max-width: 768px){
    .maindiv{
        display: flex;
        text-align: left;
        height: 170px;
    }
    .CardMobileView{
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }
}