.ViewRankingBtn {
    padding: 5px 50px 5px 50px;
    margin-top: 15px;
    border-radius: 20px;
    border: 2px solid #A259FF;
    background-color: transparent;
    color: #ffffff;

}
.ViewRankingBtn1{
    display: none;
}




@media only screen and (max-width: 768px){
    .ViewRankingBtn{
        display: none;
    }
    .ViewRankingBtn1{
        display: block;
        width: 100%;
        padding: 5px 50px 5px 50px;
        margin-top: 15px;
        border-radius: 20px;
        border: 2px solid #A259FF;
        background-color: transparent;
        color: #ffffff;
    }
}